@font-face {
  font-family: 'Digital Mono';
  src: url("/assets/fonts/digital-7 (mono).ttf");
}
@font-face {
  font-family: 'Roboto Mono';
  src: url(/assets/fonts/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Digital';
  src: url(/assets/fonts/digital-7.ttf);
}
body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.hovered-bevel {
  filter: brightness(0.8);
}
.hover-bevel {
  border-top: 5px solid white;
  border-right: 5px solid gray;
  border-bottom: 5px solid black;
  border-left: 5px solid lightgray;
  background-color: #b8b8b8;
}
.hover-bevel:hover {
  filter: brightness(0.8);
}
.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#topbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  font-family: "Digital Mono";
  font-size: 40px;
}
#topbar .flex-center {
  width: 60px;
  height: 60px;
  border-top: 5px solid white;
  border-right: 5px solid gray;
  border-bottom: 5px solid black;
  border-left: 5px solid lightgray;
  background-color: #b8b8b8;
}
#topbar .numerical {
  text-align: right;
  width: 150px;
  box-sizing: border-box;
  padding: 5px;
  font-size: 70px;
  background-color: black;
  color: red;
  border: 5px double gray;
}
#grid,
#cover_grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#cover_grid {
  z-index: 10;
}
.row {
  display: flex;
  flex-direction: row;
}
.row div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.row .block {
  font-family: "Digital";
  font-size: 30px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid gray;
  background-color: lightgray;
}
.row .cover {
  font-size: 30px / 2;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-top: 4px solid white;
  border-right: 4px solid gray;
  border-bottom: 4px solid black;
  border-left: 4px solid lightgray;
  background-color: #b8b8b8;
}
.row .cover:hover {
  filter: brightness(0.8);
}
.row .cover.reveal {
  opacity: 0.5;
}
#popup-back {
  display: none;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.525);
}
#popup {
  display: none;
  z-index: 101;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  padding: 30px;
  border-top: 5px solid white;
  border-right: 5px solid gray;
  border-bottom: 5px solid black;
  border-left: 5px solid lightgray;
  background-color: #b8b8b8;
  text-align: center;
}
#popup h1 {
  margin-top: 0;
}
#popup .btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#popup .btn-group div {
  text-align: center;
  padding: 10px;
}
#command {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#command input {
  font-family: 'Roboto Mono';
  width: calc(100% - 30px);
  box-sizing: border-box;
  padding: 5px;
}
#command > div {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid white;
  border-right: 3px solid gray;
  border-bottom: 3px solid black;
  border-left: 3px solid lightgray;
  background-color: #b8b8b8;
  font-size: 25px;
}
#command > div:hover {
  filter: brightness(0.8);
}
